<div class="container individual-article-container">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <h1>
    <%= @article.title.capitalize %>
  </h1>

  <hr />
  <p class="description-width">
    <%= @article.text %>
  </p>

  <!-- <%= form_for :user, url: '/favourite' do |f| %>
    <%= f.submit "Add to favourites" %>
  <% end %> -->



  <%= link_to "Add to favourites",
              :controller => "users",
              :action => "add_favourite",
              :article_id => @article.id%><br />
  <% if current_user.id === @article.user_id %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>

  <%= link_to 'Back', articles_path %>

</div>
