<div class="container">
  <%= link_to 'Back', articles_path %>
  <h1 id="edit-account-header">Edit account</h1>

  <div class="edit-account-form">

    <!-- <br /> -->
    <%= form_for :user, url: '/users' do |f| %>

      <%= f.text_field :name %><br />
      <%= f.text_field :email%><br />
      <%= f.password_field :password ,  placeholder: 'Password'%><br />
      <%= f.password_field :password_confirmation , placeholder: 'Password Confirmation'%>
      <%= f.submit "Submit" %>

    <% end %>
  </div>


  <h2 id="account-favourite">Your favourites</h2>

  <% current_user.favourite_articles.each do |article| %>
    <div class="article-item">
      <h4 class="blog-table-title">
        <%= article.title.capitalize %>
      </h4>
      <p class="content">
        <%= article.text %>
      </p>
      <p>
        <%= link_to 'Show more', article_path(article) %>
        <% if current_user.id === article.user_id %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Delete', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } ,
                class: 'delete-button'%>
        <% end %>
      </p>
    </div>

  <% end %>

</div>
