<div class="row landing-page">
  <div class="overlay">

  </div>
  <div class="col-12 col-md-4">

  </div>
  <div class="col-12 col-md-4 signup-form">
    <h1 id="login-title">SIGN UP!</h1>
    <br />
    <%= form_for :user, url: '/create' do |f| %>

      <%= f.text_field :name , placeholder: 'Username'%>
      <%= f.text_field :email , placeholder: 'Email'%>
      <%= f.password_field :password , placeholder: 'Password'%>
      <%= f.password_field :password_confirmation , placeholder: 'Password Confirmation'%>
      <%= f.submit "Submit" , id: 'signup-submit'%>

    <% end %>


  </div>

</div>
